h1{
    color: blueviolet;
    text-align: center;
}

h3{
    color: blueviolet;
}

body{
    background: white;
}

img{
    border-radius: 100%;
    max-width: 300px;
    height: 100px;
    float: left;
}
body p{
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    text-align: center;
}
footer p{
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    text-align: left;
}
li{
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    text-align: left;
}    